<head>
  <meta charset="utf-8">
  <title>
    {{ .Params.Title | default "Welcome" }} | {{ .Site.Title }}
  </title>
  
  <!-- Meta data -->
  {{ partial "modules/meta-data.html" . }}

  <!-- Meta icons -->
  {{ partial "modules/meta-icons.html" . }}

  {{ if(.Site.Params.google_analytics_id) }}
    <!-- Analytics -->
    {{ partial "modules/analytics.html" . }}
  {{ end }}

  <link rel="stylesheet" href="{{ "/style.css" }}">  

  <!-- Script -->
  <script src="{{ "/bundle.js" }}"></script>
</head>