{{ define "hero" }}
    {{ if .Params.Hero }}
        {{ partial "modules/hero.html" . }}
    {{ end }}    
{{ end }}
{{ define "main" }}    

    <!-- Mobile views -->
    <div class="w-full md:hidden">
        <div class="bg-white p-4">
            {{ partial "modules/solutions-mobile-header" . }}
        </div>

        <div class="bg-ss-gray p-4">
            {{ partial "modules/solutions-mobile" . }}
        </div>
    </div>


    <!-- Large viewport views -->
    <div class="w-full lg:w-4/5 lg:max-w-4xl center clearfix pt-8 hidden md:block p-4">    

        {{ partial "modules/solutions-desktop-header" . }}
            

        <!-- Table header -->
        <table class="w-full text-sm font-normal text-ss-black leading-normal border-2 border-ss-green mb-4 fade-in" cellspacing="0">
            <tr>
                <td class="p-6 text-left" width="25%">Number of Users</td>
                <td class="p-6 text-center text-ss-green font-bold border-r border-l border-ss-gray-lighter" width="25%">15</td>
                <td class="p-6 text-center text-ss-green font-bold border-r border-ss-gray-lighter" width="25%">50</td>
                <td class="p-6 text-center text-ss-green font-bold  border-r border-ss-gray-lighter uppercase" width="25%">Custom</td>
            </tr>
        </table>        

        <!-- Pricing Tables -->
        {{ partial "modules/feature-table" (dict "features" .Site.Data.solutionsEventManagement "header" "Event Management: Sales & Marketing") }}
        {{ partial "modules/feature-table" (dict "features" .Site.Data.solutionsIntegrations "header" "Integrations") }}
        {{ partial "modules/feature-table" (dict "features" .Site.Data.solutionsSupport "header" "Support") }}
    </div>
    
    <!-- CTA -->
    {{ with .Params.image_cta }}
        {{ partial "modules/image-cta-full" . }}
    {{ end }}
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript">
        // Toggle panels, toggle plus symbol state
        $(document).ready(function() {
            $('.toggle-trigger').bind('click', function() {
                var targetPanel = $(this).attr('data-toggle');
                $('#' + targetPanel).slideToggle('slow');
                $(this).toggleClass('active');
            });
        });
    </script>    
{{ end }}